<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {{!-- this is a link sheet of css which is present in public/css folder --}}
    {{!-- here we include css from your public css folder and js folder --}}
    <link rel="stylesheet" href="/css/1-css.css">
     {{!-- <script src="/js/1-app.js"></script>  --}}

   
  </head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="../" >Nasa App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
  
      <li class="nav-item">
        <a class="nav-link" href="../help">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../about">About</a>
      </li>
    </ul>
    <span class="navbar-text">
       {{heading}} 
    </span>
  </div>
</nav>


{{!-- <h2>opening of the header</h2> --}}
<body>
        

    
