{{!-- the way we can include the partial are  --}}
{{>headers}}

<div class="container">
{{!-- the use of the partial is to write once and use multiple tiem like haeder--}}

<div class="row my-5">
    <div class="col-3">
        <img src="https://assets.leetcode.com/users/alexanderritik/avatar_1586547570.png" alt="Ritk srivastva" >
    </div>
    <div class="col">
        <p class="h3 font-normal" >Profile :  {{title}} </p >
        <p class="h3 font-normal" >Name :  {{name}} </p >
        <p class="h3 font-normal" >About : {{about}}</p >
    </div>
</div>



</div>


{{>footer}}
