
 
{{!-- the way we can include the partial are  --}}
{{>headers}}

<div class="container">
{{!-- the use of the partial is to write once and use multiple tiem like haeder--}}
<h1 align="center" style="font-size: 50px;"> {{title}} </h1>

{{!-- <h1>{{helptext}}</h1> --}}
<h1>If you need an help mail me at aleaxnderritik@gamil.com by {{name}} </h1>

</div>

{{>footer}}

